<div class="row">
  <div class="col-xs-6 col-md-8">
    <div id="todoListContainer">
      <%= render 'todo_list/table' %>
    </div>
  </div>
  <div class="col-xs-4 col-md-3">
    <div id="addingTaskDiv">
      <%= render 'task/add_task_button' %>
    </div>
  </div>
</div>



