<header class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <nav>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to "Sign out" %></li>
          <li id="title"><h3>Todo List</h3></li>
        </ul>
      </nav>
    </div>
  </div>
</header>