<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header navigationBar">
        <ul class="nav navbar-nav navbar-right">
          <% if @title and @title.downcase.include?('login') %>
            <li><%= link_to "Sign In", new_user_path %></li>
          <% elsif @title and @title.downcase.include?('sign') %>
            <li><%= link_to "Home", login_path %></li>
          <% else %>
            <li><%= link_to "Sign out", logout_path, method: :delete %></li>
          <% end %>
        </ul>
        <ul class="nav navbar-text navTitle" >
          <li><h3><%= page_title %></h3></li>
        </ul>
    </div>
  </div>
</nav>